body {
    text-align: center;
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
}

tr {
    height: 45px;
    width: 45px;
}

td {
    height: 40px;
    width: 40px;
    background-color: gray;
}

.stopwatch {
    padding-left: 10px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 13px;
    background-color: #e0400f;
    text-align: center;
    vertical-align: auto;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: rgb(193, 223, 19);
    border-radius: 999px;
    margin: auto;
    bottom: 10px;
}

.beginner-btn,
.medium-btn,
.expert-btn {
    margin-top: 20px;
    display: inline;
    width: 65px;
    height: 20px;
}

.hints img {
    height: 50px;
}

.mood-container {
    margin: auto;
}

.best-time-result {
    margin-left: 20px;
}

section {
    margin-bottom: 0px;
    margin-top: 80px;
    height: 10.3vh;
    width: 100%;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-top: 32px;
}

.footer h1 {
    margin-top: -40px;
    left: 0;
    padding: 0;
    position: absolute;
    bottom: 1;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 3 em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}

.footer h1 span {
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

.footer h1 span:nth-child(1) {
    animation-delay: 1s;
}

.footer h1 span:nth-child(2) {
    animation-delay: 2s;
}

.footer h1 span:nth-child(3) {
    animation-delay: 2.5s;
}

.footer h1 span:nth-child(4) {
    animation-delay: 3s;
}

.footer h1 span:nth-child(5) {
    animation-delay: 3.5s;
}

.footer h1 span:nth-child(6) {
    animation-delay: 4s;
}

.footer h1 span:nth-child(7) {
    animation-delay: 4.5s;
}

.footer h1 span:nth-child(8) {
    animation-delay: 5s;
}

.footer h1 span:nth-child(9) {
    animation-delay: 5.5s;
}